///
/// Main container
///

.main {
  min-height: calc(100vh - 463px);

  @include from($sm-start) {
    min-height: calc(100vh - 294px);
  }

  .block-title {
    background-color: $color4;
    padding: 30px $gutter;

    @include from($sm-start) {
      padding: 64px $gutter;
    }

    h1 {
      @include text(szrem(35), szrem(50), $ScalaSansBold);
      color: $white;

      @include from($sm-start) {
        font-size: szrem(45);
        line-height: szrem(60);
      }
    }
  }
}

.header {
  &--white {
    + .main {
      margin-top: 55px;
      min-height: calc(100vh - (55px + 463px));

      @include from($sm-start) {
        margin-top: 88px;
        min-height: calc(100vh - (88px + 294px));
      }
    }
  }
}

