///
/// Styles for menus
///

.header {
  &--white .menu {
    &--main-header {
      background: $rgb2;
    }
  }

  &--transparent .menu {
    &--main-header {
      background: $rgb1;

      @include from($sm-start) {
        background: initial;
      }
    }
  }
}

.menu {

  // Header menu
  &--main-header {
    @include size(calc(100% - 20px));
    position: absolute;
    right: 10px;
    top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 5px;
    opacity: 0;
    visibility: hidden;
    transition: $transition1;
    transform: scale(.5, .5);

    @include from($sm-start) {
      @include esize(auto);
      position: initial;
      flex-direction: row;
      padding: 0;
      gap: 40px;
      opacity: 1;
      visibility: visible;
      transform: initial;
      background: initial;
    }

    &.menu--open {
      opacity: 1;
      visibility: visible;
      transform: scale(1, 1);
    }

    .menu__item {
      a {
        font-size: szrem(18);
        padding: 5px 0;
        display: block;

        &.link-active {
          position: relative;

          &::after {
            @include size(60%, 3px);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            background-color: $color5;

            @include from($sm-start) {
              @include size(26px, 5px);
              bottom: -28px;
            }
          }
        }
      }
    }
  }

  // Networks menu on footer
  &--networks {
    display: flex;
    gap: $gutter;

    @each $network in $networks {
      .menu__item--#{$network} a {
        @include esize(38px);
        background: no-repeat center icon($network);
        border-radius: 50%;
        border: 1px solid $rgb2;
        display: block;
      }
    }

    .menu__item--linkedin a {
      background-size: 18px;
    }
  }

  // Menu footer
  &--main-footer {
    li {
      margin-bottom: .5rem;
    }
  }
}


