///
/// General styles.
///

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
.root {
  min-width: 100%;
}

body {
  background: $white;
  color: $color1;
  font-family: $CalibriRegular;
  font-size: var(--base-font-size);
  line-height: 22px;
}

.img_responsive {
  @include size(100%);
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  @include visually-hidden;
}
