///
/// Loading element
///

.loading {
  @include esize(100% !important);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    @include esize(64px);
  }
}
