///
/// General fonts
///

$fonts-path : '../../assets/fonts/';

// Calibri
@font-face {
  font-family: "Calibri Light";
  src: local('Calibri Light'),
    url("#{$fonts-path}calibri/CalibriLight.woff2") format("woff2"),
    url("#{$fonts-path}calibri/CalibriLight.woff") format("woff"),
    url("#{$fonts-path}calibri/CalibriLight.ttf") format("truetype"),
    url('#{$fonts-path}calibri/CalibriLight.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Regular";
  src: local('Calibri Regular'),
    url("#{$fonts-path}calibri/CalibriRegular.woff2") format("woff2"),
    url("#{$fonts-path}calibri/CalibriRegular.woff") format("woff"),
    url("#{$fonts-path}calibri/CalibriRegular.ttf") format("truetype"),
    url('#{$fonts-path}calibri/CalibriRegular.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri Bold";
  src: local('Calibri Bold'),
    url("#{$fonts-path}calibri/CalibriBold.woff2") format("woff2"),
    url("#{$fonts-path}calibri/CalibriBold.woff") format("woff"),
    url("#{$fonts-path}calibri/CalibriBold.ttf") format("truetype"),
    url('#{$fonts-path}calibri/CalibriBold.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

// Scalas Sans
@font-face {
  font-family: "ScalaSans Light";
  src: local('ScalaSans Light'),
    url("#{$fonts-path}scalasans/ScalaSansLight.woff2") format("woff2"),
    url("#{$fonts-path}scalasans/ScalaSansLight.woff") format("woff"),
    url("#{$fonts-path}scalasans/ScalaSansLight.otf") format("opentype"),
    url('#{$fonts-path}scalasans/ScalaSansLight.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ScalaSans Regular";
  src: local('ScalaSans Regular'),
    url("#{$fonts-path}scalasans/ScalaSansRegular.woff2") format("woff2"),
    url("#{$fonts-path}scalasans/ScalaSansRegular.woff") format("woff"),
    url("#{$fonts-path}scalasans/ScalaSansRegular.otf") format("opentype"),
    url('#{$fonts-path}scalasans/ScalaSansRegular.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ScalaSans Bold";
  src: local('ScalaSans Bold'),
    url("#{$fonts-path}scalasans/ScalaSansBold.woff2") format("woff2"),
    url("#{$fonts-path}scalasans/ScalaSansBold.woff") format("woff"),
    url("#{$fonts-path}scalasans/ScalaSansBold.otf") format("opentype"),
    url('#{$fonts-path}scalasans/ScalaSansBold.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
