///
/// Mixins
///

/// Breakpoints
/// Mayor que $bp
@mixin from($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

/// Menor que $bp
@mixin to($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}

/// Dimensiones
/// Alto y ancho
@mixin size($width : auto, $height : auto) {
  width: $width;
  height: $height;
}

/// Mismas dimensiones
@mixin esize($size) {
  @include size($size, $size);
}

/// Font
/// Text
@mixin text($fontsize: var(--base-font-size), $lineheight: false, $fontfamily: $CalibriRegular) {
  font-family: $fontfamily;
  font-size: $fontsize;

  @if $lineheight {
    line-height: $lineheight;
  } @else {
    line-height: $fontsize;
  }
}

/// Accesibility
/// Hide content
@mixin visually-hidden {
  position: absolute !important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

/// Form
/// Reset styles
@mixin reset-control {
  border: 0;
  background-color: initial;
  color: inherit;
}

/// Buttons
@mixin btn-base {
  appearance: none;
  align-items: center;
  border: 0;
  border-radius: $border-radius1;
  cursor: pointer;
  display: inline-flex;
  font-size: szrem(16);
  font-family: $CalibriRegular;
  justify-content: center;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

@mixin btn-variant($background, $color, $border) {
  background-color: $background;
  color: $color;
  border-color: $color;
  fill: $color;
  transition: $transition1;

  &:hover {
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
    color: $color;
  }
}

@mixin btn-icon($icon, $position, $format: svg) {
  padding-right: 80px;
  background-repeat: no-repeat;
  background-position: $position;
  background-image: icon($icon, $format);
}

@mixin header-decoration($color) {
  position: relative;

  &::after {
    @include size(30px, 3px);
    background-color: $color;
    content: '';
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 0;
  }
}
