//
// Config here all sass variables

// Paths
$images-path : '../../assets/img';

// Colors
$white: #FFFFFF;
$black: #000000;
$color1: #3D2E32;
$color2: #EA3E3C;
$color3: #FF8800;
$color4: #191430;
$color5: #55A6AC;

// RGB/A Colors
$rgb1: rgba($black, .7);
$rgb2: rgba($white, .5);
$rgb3: rgba($black, .15);
$rgb4: rgba(0, 17, 82, .6);
$rgb5: rgba(250, 183, 44, .5);
$rgb6: rgba(0, 0, 0, 0.1);

$shadow1: 0 10px 30px 0 $rgb3;
$shadow2: 0 8px 30px -2px $rgb6;

// Fonts
$CalibriRegular: 'Calibri Regular', Arial, 'Sans-sefif';
$CalibriLight: 'Calibri Light', $CalibriRegular;
$CalibriBold: 'Calibri Bold', $CalibriRegular;
$ScalaSansRegular: 'ScalaSans Regular', $CalibriRegular, Arial, 'Sans-sefif';
$ScalaSansLight: 'ScalaSans Light', $ScalaSansRegular;
$ScalaSansBold: 'ScalaSans Bold', $ScalaSansRegular;

// Animations
$transition1: all .3s ease;

// utilities
$border-radius1: 32px;

// Collections
$networks: facebook, linkedin, twitter, instagram, youtube;

:root {
  --base-font-size: 0.875rem;

  @media screen and (min-width: $sm-start) {
    --base-font-size: 1rem;
  }
}
